minifi-toolkit/minifi-toolkit-configuration/src/test/resources/InvokeHttp_MiNiFi_Template_Test_SSL.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template encoding-version="1.0"><description></description><groupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</groupId><name>InvokeHttp MiNiFi Template Test SSL</name><snippet><connections><id>0917915c-3766-4d8d-a18b-c1a847e51a12</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</groupId><id>86f49ca8-66cc-49b9-8732-59ff4948e687</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</groupId><id>a0328388-e65e-4017-bee1-9b691f5b01e8</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>7542f079-0fc2-4812-87e5-02e93e29aa72</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</groupId><id>f69ae76b-7eb8-4638-a5ca-790b24851b37</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>200</selectedRelationships><source><groupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</groupId><id>8535ba89-1950-463c-993a-08fea8609a7e</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>84985ea1-c861-41c3-83e0-f03b32062ec9</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</groupId><id>8535ba89-1950-463c-993a-08fea8609a7e</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>Response</selectedRelationships><source><groupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</groupId><id>28c0e871-f5bd-402a-a0b8-5423d3583075</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>365051e8-bb9a-4a90-b9c2-b6bca319c0fc</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</groupId><id>28c0e871-f5bd-402a-a0b8-5423d3583075</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</groupId><id>86f49ca8-66cc-49b9-8732-59ff4948e687</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>28cd33fb-48f9-494c-9942-8fdb9f67a462</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold><backPressureObjectThreshold>10000</backPressureObjectThreshold><destination><groupId>b3abe18b-62ea-4463-bfac-9e0e623020a1</groupId><id>b23a4621-cf19-42e6-967c-ffd3716e6a24</id><type>REMOTE_INPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>200</selectedRelationships><source><groupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</groupId><id>8535ba89-1950-463c-993a-08fea8609a7e</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>748af79a-9b9f-44e9-9b8b-c3d01b51c3b1</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold><backPressureObjectThreshold>10000</backPressureObjectThreshold><destination><groupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</groupId><id>6595d487-6ae5-44bf-a75b-12dacc73632a</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>unmatched</selectedRelationships><source><groupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</groupId><id>8535ba89-1950-463c-993a-08fea8609a7e</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>37a9ec4c-6f70-422d-81fe-b66fb56fc2ec</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><comments></comments><name>StandardSSLContextService</name><properties><entry><key>Keystore Filename</key><value>/tmp/ssl/keystore.jks</value></entry><entry><key>Keystore Password</key></entry><entry><key>Keystore Type</key><value>JKS</value></entry><entry><key>Truststore Filename</key><value>/tmp/ssl/myTrustStore</value></entry><entry><key>Truststore Password</key></entry><entry><key>Truststore Type</key><value>JKS</value></entry><entry><key>SSL Protocol</key><value>TLS</value></entry></properties><state>ENABLED</state><type>org.apache.nifi.ssl.StandardSSLContextService</type></controllerServices><processors><id>28c0e871-f5bd-402a-a0b8-5423d3583075</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><position><x>1493.2958374023438</x><y>410.86973615646366</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HTTP Method</key><value>GET</value></entry><entry><key>Remote URL</key><value>https://www.google.com/search?q=${q}&amp;rct=j</value></entry><entry><key>SSL Context Service</key><value>37a9ec4c-6f70-422d-81fe-b66fb56fc2ec</value></entry><entry><key>Connection Timeout</key><value>5 secs</value></entry><entry><key>Read Timeout</key><value>15 secs</value></entry><entry><key>Include Date Header</key><value>True</value></entry><entry><key>Follow Redirects</key><value>True</value></entry><entry><key>Attributes to Send</key></entry><entry><key>Basic Authentication Username</key></entry><entry><key>Basic Authentication Password</key></entry><entry><key>Proxy Host</key></entry><entry><key>Proxy Port</key></entry><entry><key>invokehttp-proxy-user</key></entry><entry><key>invokehttp-proxy-password</key></entry><entry><key>Put Response Body In Attribute</key></entry><entry><key>Max Length To Put In Attribute</key><value>256</value></entry><entry><key>Digest Authentication</key><value>false</value></entry><entry><key>Always Output Response</key><value>false</value></entry><entry><key>Trusted Hostname</key></entry><entry><key>Add Response Headers to Request</key><value>false</value></entry><entry><key>Content-Type</key><value>${mime.type}</value></entry><entry><key>send-message-body</key><value>true</value></entry><entry><key>Use Chunked Encoding</key><value>false</value></entry><entry><key>Penalize on &quot;No Retry&quot;</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Search Google</name><relationships><autoTerminate>false</autoTerminate><name>Failure</name></relationships><relationships><autoTerminate>false</autoTerminate><name>No Retry</name></relationships><relationships><autoTerminate>false</autoTerminate><name>Original</name></relationships><relationships><autoTerminate>false</autoTerminate><name>Response</name></relationships><relationships><autoTerminate>false</autoTerminate><name>Retry</name></relationships><style/><type>org.apache.nifi.processors.standard.InvokeHTTP</type></processors><processors><id>8535ba89-1950-463c-993a-08fea8609a7e</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><position><x>1470.2852478027344</x><y>645.8408927726746</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key><value>Route to Property name</value></entry><entry><key>200</key><value>${invokehttp.status.code:equals(200)}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Route On Status Code</name><relationships><autoTerminate>false</autoTerminate><name>200</name></relationships><relationships><autoTerminate>false</autoTerminate><name>unmatched</name></relationships><style/><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>86f49ca8-66cc-49b9-8732-59ff4948e687</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><position><x>1490.3041687011719</x><y>154.83284399032593</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>q</key><value>nifi</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>q=nifi</name><relationships><autoTerminate>false</autoTerminate><name>success</name></relationships><style/><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>f69ae76b-7eb8-4638-a5ca-790b24851b37</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><position><x>1498.4024391017267</x><y>909.8066605626166</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Log Level</key><value>info</value></entry><entry><key>Log Payload</key><value>false</value></entry><entry><key>Attributes to Log</key></entry><entry><key>Attributes to Ignore</key></entry><entry><key>Log prefix</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>LogAttribute</name><relationships><autoTerminate>true</autoTerminate><name>success</name></relationships><style/><type>org.apache.nifi.processors.standard.LogAttribute</type></processors><processors><id>a0328388-e65e-4017-bee1-9b691f5b01e8</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><position><x>1505.8583984375</x><y>-94.46043014526367</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>File Size</key><value>10 b</value></entry><entry><key>Batch Size</key><value>1</value></entry><entry><key>Data Format</key><value>Binary</value></entry><entry><key>Unique FlowFiles</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>30 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Source</name><relationships><autoTerminate>false</autoTerminate><name>success</name></relationships><style/><type>org.apache.nifi.processors.standard.GenerateFlowFile</type></processors><processors><id>6595d487-6ae5-44bf-a75b-12dacc73632a</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><position><x>1983.6038551173517</x><y>880.3742875157416</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Log Level</key><value>info</value></entry><entry><key>Log Payload</key><value>false</value></entry><entry><key>Attributes to Log</key></entry><entry><key>Attributes to Ignore</key></entry><entry><key>Log prefix</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>LogAttribute</name><relationships><autoTerminate>true</autoTerminate><name>success</name></relationships><style/><type>org.apache.nifi.processors.standard.LogAttribute</type></processors><remoteProcessGroups><id>b3abe18b-62ea-4463-bfac-9e0e623020a1</id><parentGroupId>7b44b0dc-8d6b-4ed5-ac8e-e618daa208fd</parentGroupId><position><x>1009.1579583596406</x><y>898.8149201128674</y></position><communicationsTimeout>30 sec</communicationsTimeout><contents><inputPorts><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><id>b23a4621-cf19-42e6-967c-ffd3716e6a24</id><name>response</name><useCompression>false</useCompression></inputPorts></contents><proxyHost></proxyHost><proxyUser></proxyUser><targetUri>http://localhost:8080/nifi</targetUri><transportProtocol>RAW</transportProtocol><yieldDuration>10 sec</yieldDuration></remoteProcessGroups></snippet><timestamp>07/01/2016 18:36:12 EDT</timestamp></template>